# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# Resultados de compilação .NET
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/
publish/
publish_setup/
SETUP_PRONTO/

# Arquivos compilados e símbolos
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.tmp

# NuGet
packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Testes e cobertura
TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
coverage.*

# JetBrains Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# Logs locais
*.log

